# Dependencies
node_modules/

# Build output
build/

# Temporary files
*.log

# Local environment settings
.env

# Editor-specific files
.vscode/
.idea/
*.swp

# MacOS files
.DS_Store

# Linux and macOS thumbnails
.Trashes

# Coverage directory
coverage/

# Yarn Integrity
.yarn-integrity

# npm-debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
